.wrapper {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.nav-banner {
    width: 100%;
    height: 55px;
    background-color: #343a40;
    padding: 15px;
}

.nav-inner {
    max-width: 800px;
    margin: auto;
}

.nav-items {
    float: right;
}

.nav-items a {
    color: #ececec;
}

button, .button,[type="submit"]  {
    background-color: #43c886;
}

input, textarea, .select select {
    margin: 5px 0px;
}
