{% extends "includes/layout.html" %}

{% block content %}
{% if data.get("is_admin") == 1 %}
<h1>Car Maintenance and Rental History</h1>
{% else %}
<h1>Welcome to super mega rental car golden palace</h1>
{% endif %}
<p>User: {{ data.get("fname") }}

{% if data.get("is_admin") == 1 %}
<p> [admin]</p>
{% endif %}
</p>


{% if data.get("is_admin") == 1 %}
<a href="/cars"><button>Cars</button></a>
<a href="/events"><button>Events</button></a>
<a href="/customers"><button>Customers</button></a>
<a href="/users"><button>Users</button></a>
{% else %}
<a href="/cars/rental"><button>Rent a car</button></a>
{% endif %}

{% endblock %}
