{% extends "includes/layout.html" %}

<!-- All available cars should be displayed with 
an option to buy or rent the car -->

{% block content %}

<h1>List of available cars</h1>

{% if row_data|length == 0 %}

<p>No results found</p>

{% else %}

{% for row in row_data %}
<table bgcolor = #111111 border="1" >
  <tr>
    {% for row_value in row %} <th> {{ row_value }} </th> {% endfor %}
  </tr>
</table>

<a href="/cars/{{ row[0] }}"</a>
<a href="/cars/buy_form"><button>Buy me!</button></a>
<a href="/cars/rental_form"><button>Rent this car</button></a>

<br>
{% endfor %}
{% endif %}
{% endblock %}
