{% extends "includes/layout.html" %}

{% block content %}


<h1>Purchase Form</h1>
<!-- Could add a an argument parameter to display the car being rented-->
<form> <!-- can use action if we want to process -->
  <input type="text" placeholder="Driver's License" name="license">
  <br>
  <input type="text" placeholder="Registration Number" name="insurance">
  <br>
  <input type="text" placeholder="Additional Requests" name="status">
  <br>
  <br>
   Add Super Mega Rental Car Golden Palace Ultimate Cleaning Package?
  <br>
  
  <br>
  <select style ="width:10%" name="car_wash">
    <option value ="1">Yes</option>
    <option value ="0">No</option>
  </select>
  <br>

  <br>
  <button type="submit">Buy this car!</button>
</form>

{% endblock %}
