{% extends "includes/layout.html" %}

{% block content %}



<h1>User Search</h1>
<form action="/users/results" method="post">
    <input type="text" placeholder="Employee Number" name="employee_no">
  <br>
  <input type="text" placeholder="Phone Number" name="phone_no">
  <br>
  <input type="text" placeholder="First Name" name="fname">
  <br>
  <input type="text" placeholder="Last Name" name="lname">
  <br>
  <span style = "width:20%">Is admin:</span>
  <select style ="width:10%" name = "is_admin">
    <option value =1 selected>Yes</option>
    <option value =0>No</option>
  </select>
  <br>
  <input type="text" placeholder="Address" name="address">
  <br>
  <button type="submit">Execute Query</button>
</form>

{% endblock %}
<a href="/"><button>Home</button></a>
