{% extends "includes/layout.html" %}

{% block content %}


<h1>Events</h1>
<form action="/events/results" method="post">
    <input type="text" placeholder="VIN Number" name="vin">
  <br>
  <input type="text" placeholder="Created By" name="created_by">
  <br>
  <input type="text" placeholder="Description" name="description">
  <br>
  <input type="text" placeholder="Title" name="title">
  <br>
  <input type="text" placeholder="Status" name="status">
  <br>
  <input type="text" placeholder="Start Date" name="start_date">
  <br>
  <input type="text" placeholder="End Date" name="end_date">
  <br>
  <select name="event_type">
  <option>All Event Types</option>
  <option>Sale</option>
  <option>Rental</option>
  <option>Available</option>
  <option>Write Off</option>
  <option>Inspection</option>
  <option>Repair</option>
</select>

  <button type="submit">Execute Query</button>
</form>

{% endblock %}
