{% extends "includes/layout.html" %}

{% block content %}


<h1>Edit Available Event</h1>
<form action="/events/pos/available/{{ event_id }}/update" method="post">
  {% include 'includes/event_form_edit.html' %}
  {% include 'includes/pos_form_edit.html' %}
  <input type="text" placeholder="Condition" name="car_condition" value="{{ row_data[0][9] }}">
  <br>
  <input type="text" placeholder="Sale Price" name="sale_price" value="{{ row_data[0][10] }}">
  <br>
  <input type="text" placeholder="Next Repair" name="next_repair" value="{{ row_data[0][11] }}">
  <br>
  <button type="submit">Update Available Event</button>
</form>

{% endblock %}
